@{
    var majors = ViewBag.Majors as List<M>;
}

<h2>Choose Your Major</h2>
@using (Html.BeginForm("CalculateCompletion", "Home"))
{
    <select name="majorName">
        <option value="">Select a major</option>
        @foreach (var major in majors)
        {
            <option value="@major.Name">@major.Name</option>
        }
    </select>
    <br /><br />

    <div id="courseContainer">
        <h3>Courses</h3>
    </div>

    <br />

    <input type="submit" value="Calculate Completion" />
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select[name="majorName"]').change(function() {
                var selectedMajor = $(this).val();
                var courseContainer = $('#courseContainer');
                courseContainer.empty();

                if (selectedMajor !== '') {
                    var coursesHtml = '';
                    majorCourses.forEach(function(course) {
                        coursesHtml += '<div>';
                        coursesHtml += '<label>';
                        coursesHtml += '<input type="checkbox" name="finishedCourses" value="' + course.Name + '" />';
                        coursesHtml += course.Name;
                        coursesHtml += '</label>';
                        coursesHtml += '</div>';
                    });

                    courseContainer.append(coursesHtml.replace(/__majorName__/g, selectedMajor));
                }
            });
        });
    </script>
}