@using System.Security.Claims
@model GradutionProject.Models.User
@{
    ViewData["Title"] = "Login";
    var rurl = (string)ViewData["returnUrl"];
}

@if (User.Identity.IsAuthenticated)
{
    <script>
        location.href = window.location.href.replace('/home/index', '');
    </script>
}
else
{
    <div class="row" style="justify-content:center">
        <h1>Welcome to academic assistant</h1>
        <div class="col-md-6">
            <form asp-action="Login" asp-route-returnurl="@rurl" style="margin-top:40px">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <input asp-for="AcademicNumber" class="form-control" placeholder="Please input the academic number" value="" />
                    <span asp-validation-for="AcademicNumber" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <div class="input-group" id="show_hide_password">
                        <input class="form-control" type="password" asp-for="Password" placeholder="Please input the password">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <input type="submit" value="Login" class="btn btn-primary my-2" />
                </div>
            </form>
        </div>
    </div>
}