<!-- Signup.cshtml -->
@model GradutionProject.ViewModel.SignUpVM

@{
    ViewData["Title"] = "Signup";
}

<div class="row" style="justify-content:center">
    <div class="col-md-6">
        <form asp-action="SignUp" method="post" style="margin-top:40px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="User.Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input asp-for="User.Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input asp-for="User.FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input asp-for="User.LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input asp-for="User.AcademicNumber" class="form-control" placeholder="AcademicNumber" />
                <span asp-validation-for="User.AcademicNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label for="User.MajorId">Select Major:</label>
                <select asp-for="User.MajorId" asp-items="@Model.MajorList.Select(m => new SelectListItem { Value = m.Id.ToString(), Text = m.Name })" class="form-control">
                    <option value="">Select a Major</option>
                </select>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Signup" class="btn btn-primary" style="margin-top:48px"/>
            </div>
        </form>
    </div>
</div>